*{
	padding:0px;
	margin:0px;
	outline:none;
	border:none;
	font-family: 'Raleway', sans-serif;
}
body{
	background-color:#dfe3e8;
}
.container{
	width:900px;
	height:auto;
	background-color:white;
	margin:0px auto;
}
.nav{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	overflow:auto;
	position:relative;
	border-bottom:1px solid #e0e0e0;
}
.nav img{
	position:absolute;
	width:40px;
	top:10px;
	left:30px;
	-moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.nav h1{
	font-size:20px;
	margin-left:65px;
	color:#3e3e3e;
	position:relative;
	top:13px;
}
.company{
	border-radius:360px;	
	width:100px;
	position:relative;
	top:10px;
	margin:0px auto;
}
.comp{
	width:100%;
	display:grid;
	background-color:#f7f7f7;
	padding:20px;
	box-sizing:border-box;
	grid-template-columns:1fr 3fr;
}
.text h1{
	color:#3e3e3e;
	margin-bottom:10px;
}
.text p{
	color:#3c3c3c;
	line-height:25px;
	font-size:17px;
}
#inpy{
	position:absolute;
	right:13px;
	top:5px;
	font-size:17px;
	background-color:#e0e0e0d1;
	width:670px;
	padding:10px;
	padding-left:35px;
	border-radius:3px;
	padding-top:12px;
}
.search-cont{
	position:relative;
	width:740px;
	float:right;
	height:50px;
}
#search-icon{
	position:absolute;
	top:16px;
	left:26px;
	z-index:999999;
	color:#717171;
}
.heading{
	float:left;
}
.rating{
	width:100%;
	background-color:#59b359d9;
	padding:15px;
	box-sizing:border-box;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}
.rating h1{
	color:white;
	font-size:17px;
}
.rating .fas, .rating .far{
	color:white;
	margin-top:5px;
}
.item{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction:column;
}
.rating p {
	color:white;
}
.job-grid{
	width:100%;
	height:500px;
	display:grid;
	grid-template-columns:1fr 1fr;
	border-bottom:1px solid #e2e2e2;
}
.grid-item{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-direction:column;
	border-right:1px solid #e2e2e2;
}
.grid-item img{
	width:75px;
	margin-bottom:20px;
}
.grid-item h1{
	margin-bottom:20px;
}
.grid-item li{
	margin-bottom:10px;
}
.grid-item a{
	background-color:#59b359d9;
	padding:12px 20px;
	box-shadow:0px 0px 25px rgba(0,0,0,0.25);
	color:white;
	font-weight:700;
	text-decoration:none;
	font-size:17px;
	padding-top:14px;
	position:relative;
	top:10px;
}
.job-review{
	width:100%;
	height:300px;
	padding:20px;
	box-sizing:border-box;
	background-color:#f7f7f7;
}
.job-review p{
	margin-top:10px;
	color:#383838;
	line-height:24px;
	margin-bottom:20px;
}
